<section class="container">
  <% if (astros.length > 0) { %> <% astros.forEach(astro => { %>
  <article class="astro">
    <p
      class="category <%= astro.category === 'Planeta' ? 'planeta' : '' %> <%= astro.category === 'Estrela' ? 'estrela' : '' %> <%= astro.category === 'Lua' ? 'lua' : '' %> <%= astro.category === 'Cometa' ? 'cometa' : '' %>"
    >
      <%= astro.category %>
    </p>

    <img
      src="<%= astro.image_url %>"
      alt="Imagem que representa <%= astro.name %>"
      onclick="window.location.href='/astros/<%= astro.id_astro %>'"
      style="cursor: pointer"
    />

    <footer>
      <h1><%= astro.name %></h1>
      <a href="/astros/<%= astro.id_astro %>">
        <p><%= astro.description %></p>
      </a>
    </footer>
  </article>
  <% }); %> <% } else { %> <%- notFound %> <% } %>
</section>

<% if(pagination) { %>
<section class="pagination">
  <button
   <%= pagination.hasPrevious ? '' : 'disabled' %>
    onclick="window.location.href = '/astros?category=<%= pagination.category %>&offset=<%= Math.max(0,pagination.offset - pagination.limit) %>&limit=<%= pagination.limit %>'"
    class="<%= pagination.hasPrevious ? 'enabled' : 'disabled' %>"
  >
    &lt; Anterior
  </button>

  <div class="pages">
    <% for(let i = 1; i <= pagination.totalPage;i++){ %>
    <button
      onclick="window.location.href ='/astros?category=<%= pagination.category %>&offset=<%= (i - 1) * pagination.limit  %>&limit=<%= pagination.limit %>'"
      class="<%= pagination.currentPage === i ? 'currentPage' : '' %>"
    >
      <p><%= i %></p>
    </button>
    <% } %>
  </div>

  <button
    <%= pagination.hasNext ? '' : 'disabled' %>
    onclick="window.location.href = '/astros?category=<%= pagination.category %>&offset=<%= pagination.offset + pagination.limit %>&limit=<%= pagination.limit %>'"
    class="<%= pagination.hasNext ? 'enabled' : 'disabled' %>"
  >
    Próximo &gt;
  </button>
</section>
<% } %>