<section class="container">
  <% astros.forEach(astro => { %>
  <article class="astro">
    <% if(astro.category !== "Lua") { %>
    <p
      class="category <%= astro.category === 'Planeta' ? 'planeta' : '' %> <%= astro.category === 'Estrela' ? 'estrela' : '' %> <%= astro.category === 'Lua' ? 'lua' : '' %>"
    >
      <%= astro.category %>
    </p>
    <% } %>

    <img
      src="<%= astro.image_url %>"
      alt="Imagem que representa <%= astro.name %>"
    />
    <footer>
      <h1><%= astro.name %></h1>
      <p><%= astro.description %></p>
    </footer>
  </article>
  <% }); %>
</section>
