<section hx-target="this" hx-swap="outerHTML">
  <img src="<%= astro.image_url %>" alt="Imagem de <%= astro.name %>" />
  <form class="form-edit" hx-patch="/astros/<%= astro.id_astro %>">
    <input type="text" name="name" value="<%= astro.name %>" />
    <input type="text" name="description" value="<%= astro.description %>" />
    <select value="<%= astro.category %>" name="category" id="category">
      <option value="planeta">Planeta</option>
      <option value="estrela">Estrela</option>
      <option value="satelite">Satélite</option>
    </select>

    <div>
      <label> Distância do Sol </label>
      <input
        type="text"
        value="<%= astro.distance_sun %>"
        name="distance_sun"
        id="distance_sun"
      />
    </div>

    <div>
      <label for="weight">Peso</label>
      <input type="text" value="<%= astro.weight %>" name="weight" />
    </div>

    <a href="/">Voltar</a>
    <button hx-get="/astros/<%= astro.id_astro %>">Cancelar</button>
    <button type="submit">Editar</button>
  </form>
</section>
